<div class="about-area rm-about-style-2 ptb--120 bg_color--5" id="about">
    <div class="about-wrapper">
        <div class="container">
            <div class="row row--20 align-items-center">
                <!-- image area -->
                <div class="col-lg-6">
                    <div class="thumbnail">
                        <img class="w-100" src="assets/images/about/about-3.jpg" alt="About Images">
                    </div>
                </div>
                <!-- Image Area End -->

                <!-- Content Area Start -->
                <div class="col-lg-6">
                    <div class="about-inner inner">
                        <div class="section-title"><span class="subtitle">Read About Us</span>
                            <h2 class="title">Read Company Values</h2>
                            <p class="description">There are many variations of passages of Lorem Ipsum available,
                                <br> but the majority have suffered alteration.
                            </p>
                        </div>
                        <div class="row">
                            <div class="col-lg-6 col-md-12 col-sm-12 col-12">
                                <div class="about-us-list">
                                    <h5 class="title">Honest</h5>
                                    <p>Lorem ipsum dolor sit amet, onecis et mollis.</p>
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-12 col-sm-12 col-12">
                                <div class="about-us-list">
                                    <h5 class="title">Strategy</h5>
                                    <p>Lorem ipsum dolor sit amet, onecis et mollis.</p>
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-12 col-sm-12 col-12">
                                <div class="about-us-list">
                                    <h5 class="title">Development</h5>
                                    <p>Lorem ipsum dolor sit amet, onecis et mollis.</p>
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-12 col-sm-12 col-12">
                                <div class="about-us-list">
                                    <h5 class="title">Quality</h5>
                                    <p>Lorem ipsum dolor sit amet, onecis et mollis.</p>
                                </div>
                            </div>
                        </div>
                        <div class="purchase-btn mt--50"><a class="btn-transparent" href="about.html">WHY WE'RE
                                DIFFERNT
                                VALUES</a></div>
                    </div>
                </div>
                <!-- Content area End -->
            </div>
        </div>
    </div>
</div>
