    <!-- Start Counter Up Section -->
    <div class="counterup-area pb--80 pt--40 bg_image bg_image--17 theme-text-white" data-black-overlay="3">
        <div class="container">
            <div class="row mt--30">
                <div class="im_single_counterup col-lg-3 col-md-4 col-sm-6 col-12">
                    <div class="im_counterup">
                        <div class="inner">
                            <div class="icon">
                                <i data-feather="heart"></i>
                            </div>
                            <h2 class="counter"><span>199</span></h2>
                            <p class="description">Staticfied Customers</p>
                        </div>
                    </div>
                </div>
                <div class="im_single_counterup col-lg-3 col-md-4 col-sm-6 col-12">
                    <div class="im_counterup">
                        <div class="inner">
                            <div class="icon">
                                <i data-feather="clock"></i>
                            </div>
                            <h2 class="counter"><span>575</span></h2>
                            <p class="description">Days Of Operation</p>
                        </div>
                    </div>
                </div>
                <div class="im_single_counterup col-lg-3 col-md-4 col-sm-6 col-12">
                    <div class="im_counterup">
                        <div class="inner">
                            <div class="icon">
                                <i data-feather="circle"></i>
                            </div>
                            <h2 class="counter"><span>49</span></h2>
                            <p class="description">Complete Project</p>
                        </div>
                    </div>
                </div>
                <div class="im_single_counterup col-lg-3 col-md-4 col-sm-6 col-12">
                    <div class="im_counterup">
                        <div class="inner">
                            <div class="icon">
                                <i data-feather="award"></i>
                            </div>
                            <h2 class="counter"><span>55</span></h2>
                            <p class="description">Win Awards</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Counter Up Section -->

    <!-- Start About Area -->
    <div class="rn-about-area ptb--120 bg_color--5">
        <div class="container">
            <div class="row row--35 align-items-center">
                <div class="col-lg-6">
                    <div class="thumbnail">
                        <img class="w-100" src="assets/images/about/about-4.png" alt="About Images" />
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="about-inner inner">
                        <div class="section-title text-left"><span class="subtitle">Our Working Plan</span>
                            <h2 class="title">Working Process</h2>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Enim exercitationem
                                impedit iure quia quo recusandae?</p>
                        </div>
                        <div class="rn-accordion accodion-style--1 mt--30" id="accordion">
                            <!-- Start Single Card  -->
                            <div class="rn-card">
                                <div class="rn-card-header accordion__heading" id="headingOne">
                                    <a href="#" class="accordion__button " data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">Your Business Skills But
                                        Never Stop
                                        Improving.
                                    </a>
                                </div>
                                <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
                                    <div class="rn-card-body">
                                        Anim pariatur cliche reprehenderit, enim eiusmod high life
                                        accusamus terry richardson ad squid. 3 wolf moon officia aute,
                                        non cupidatat.
                                    </div>
                                </div>
                            </div>
                            <!-- End Single Card  -->

                            <!-- Start Single Card  -->
                            <div class="rn-card">
                                <div class="rn-card-header accordion__heading" id="headingTwo">
                                    <a href="#" class="accordion__button collapsed" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">Tactics That Can Help Your Business
                                        Grow.
                                    </a>
                                </div>
                                <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
                                    <div class="rn-card-body">
                                        Anim pariatur cliche reprehenderit, enim eiusmod high life
                                        accusamus
                                        terry richardson ad squid. 3 wolf moon officia aute, non
                                        cupidatat.
                                    </div>
                                </div>
                            </div>
                            <!-- End Single Card  -->

                            <!-- Start Single Card  -->
                            <div class="rn-card">
                                <div class="rn-card-header accordion__heading" id="headingThree">
                                    <a href="#" class="accordion__button collapsed" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">The Secret of Successful Business.
                                    </a>
                                </div>
                                <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
                                    <div class="rn-card-body">
                                        Anim pariatur cliche reprehenderit, enim eiusmod high life
                                        accusamus
                                        terry richardson ad squid. 3 wolf moon officia aute, non
                                        cupidatat.
                                    </div>
                                </div>
                            </div>
                            <!-- End Single Card  -->

                            <!-- Start Single Card  -->
                            <div class="rn-card">
                                <div class="rn-card-header accordion__heading" id="headingFour">
                                    <a href="#" class="accordion__button collapsed" data-toggle="collapse" data-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">How To Start A Business With
                                        Business.
                                    </a>
                                </div>
                                <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#accordion">
                                    <div class="rn-card-body">Facilis fugiat hic ipsam iusto laudantium
                                        libero maiores minima molestiae mollitia repellat rerum sunt
                                        ullam voluptates? Perferendis, suscipit.
                                    </div>
                                </div>
                            </div>
                            <!-- End Single Card  -->
                        </div>
                        <div class="about-button mt--30"><a class="btn-default" href="about.html">See how it works</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End About Area -->

    <!-- Start Team Area -->
    <div class="rn-team-area ptb--120 bg_color--1">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="section-title text-center mb--25 mb_sm--0"><span class="subtitle">Our Experts</span>
                        <h2 class="title">Managing Team</h2>
                        <p>There are many variations of passages of Lorem Ipsum available, <br> but the majority have
                            suffered alteration.</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="row">
                    <!-- Single team Area -->
                    <div class="col-lg-4 col-md-6 col-sm-6 col-12">
                        <div class="team team-style--bottom">
                            <div class="thumbnail"><img src="assets/images/team/team-01.jpg" alt="Blog Images"></div>
                            <div class="content">
                                <h4 class="title">Benjamin</h4>
                                <p class="designation">Sr. Web Developer</p>
                            </div>
                            <ul class="social-icon">
                                <li>
                                    <a href="#">
                                        <i data-feather="facebook"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <i data-feather="linkedin"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <i data-feather="twitter"></i>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <!-- End Single Member area -->

                    <!-- Start Single Team -->
                    <div class="col-lg-4 col-md-6 col-sm-6 col-12">
                        <div class="team team-style--bottom">
                            <div class="thumbnail"><img src="assets/images/team/team-02.jpg" alt="Blog Images"></div>
                            <div class="content">
                                <h4 class="title">Theodore Sefa</h4>
                                <p class="designation">Front-end Engineer</p>
                            </div>
                            <ul class="social-icon">
                                <li>
                                    <a href="#">
                                        <i data-feather="facebook"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <i data-feather="linkedin"></i>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <!-- End Single Team area -->

                    <!-- Start Single Team -->
                    <div class="col-lg-4 col-md-6 col-sm-6 col-12">
                        <div class="team team-style--bottom">
                            <div class="thumbnail"><img src="assets/images/team/team-03.jpg" alt="Blog Images"></div>
                            <div class="content">
                                <h4 class="title">Christopher</h4>
                                <p class="designation">Sr. Graphic Designer</p>
                            </div>
                            <ul class="social-icon">
                                <li>
                                    <a href="#">
                                        <i data-feather="facebook"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <i data-feather="linkedin"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <i data-feather="twitter"></i>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Team Area -->
